# Example for autoconfig
<VirtualHost example.com:80>

  ServerName autoconfig.example.com
  ServerAdmin webmaster@example.com

  <IfModule mod_wsgi.c>
    WSGIScriptAlias /mail/config-v1.1.xml /usr/share/pyshared/automx_wsgi.py
    <Directory "/usr/share/pyshared/automx">
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>

        <IfVersion >= 2.4>
            Require all granted
        </IfVersion> 
    </Directory>
  </IfModule>

</VirtualHost>

# SSL example for autodiscover
<VirtualHost example.com:443>

  ServerName autodiscover.example.com:443
  ServerAdmin webmaster@example.com

  <IfModule mod_wsgi.c>
    WSGIScriptAlias /Autodiscover/Autodiscover.xml /usr/share/pyshared/automx_wsgi.py
    WSGIScriptAlias /autodiscover/autodiscover.xml /usr/share/pyshared/automx_wsgi.py
    WSGIScript /mobileconfig /usr/share/pyshared/automx_wsgi.py
    <Directory "/usr/share/pyshared/automx">
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>

        <IfVersion >= 2.4>
            Require all granted
        </IfVersion> 
    </Directory>
  </IfModule>

  # more ssl options ...

</VirtualHost>

